<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="/" responseMode="Redirect" />
        </httpErrors>
          <rewrite> 
        <rules> 
        <rule name="Angular Routes" stopProcessing="true"> 
            <match url=".*" /> 
            <conditions logicalGrouping="MatchAll"> 
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /> 
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> 
            </conditions> 
            <action type="Rewrite" url="/index.html" /> 
        </rule> 
        </rules> 
    </rewrite> 
    </system.webServer>
</configuration>
